.layout{
    display: flex;
}

button {
    background-color: lavender;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
  }

  #myForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #myForm h2 {
    margin-top: 0;
  }
  
  #myForm input[type="text"],
  #myForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  #myForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  